<h2>Transactions</h2>

<div class = "parent">
<div style="background-color: rgb(168, 209, 218);" > 
  
  <div class="form-group" style="display: inline-block;">
    <!--add new transaction category input -->
    <div class = "dropdown">
      <select [(ngModel)]= "categorySelected">
        <option *ngFor=" let category of categorys" [value]="category.name">
          {{category.name}}
        </option>
      </select>
    </div> 
    <!--add new transaction amount input -->
    <input style="display: inline-block; margin-left: 5em;" #input type="text"  placeholder="Amount" [(ngModel)]="Amount">
    <!--add new transaction date input -->
    <div style="display: inline-block; margin-left: 5em;">  
      <form >
        <input placeholder={{currentDate}} name="dp" [(ngModel)]="model" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append" style="display: inline-block;">
          <button (click)="d.toggle()" type="button" id="close-CSS"></button>
        </div>
      </form>
    </div>

  </div>
  <br><br>
  <!-- That fat green button -->
  <button mat-stroked-button type="button" class="button" (click)="addNewTransaction()"><mat-icon>add_circle</mat-icon>{{"  "}}Add transaction</button>
  <br><br>
</div> 

<!-- datepicker range -->
<div style="background-color: rgb(254, 249, 197);">
  
  <p style="margin-left: 10em; color: rgb(238, 0, 0);">*Pick date range to show transaction history</p>
  <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" style="display: inline-block; margin-left: 5em;">
  </ngb-datepicker>
  
  <ng-template #t let-date let-focused="focused">
    <span class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>
  
  <button mat-stroked-button type="button" class="button2" (click)="ResetTime()"><mat-icon>date_range</mat-icon>{{"  "}}Show all transaction</button>
</div>
</div>

<ul class="transactions">
    <li *ngFor="let transaction of transactionsTobeDisplayed"
      [class.selected]="transaction === selectedTransaction"
      (click)="onSelect(transaction)">
      <!-- <span class="IDbadge">{{transaction.id}}</span>  -->
      <span class = "IDbadge">{{transaction.category}}</span>  
      <span class = "amountbadge">${{transaction.amount}}</span>
      <span class = "datebadge">{{transaction.date.getMonth()+1}}/{{transaction.date.getDate()}}/{{transaction.date.getFullYear()}} </span>
      <span class = "notebadge">Note:  {{transaction.note}}</span>
    </li>
  </ul>

<app-transaction-detail [transaction]="selectedTransaction"></app-transaction-detail>

